.taskCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c7c7c7;
  padding: 0.75rem;
  border-radius: 0.75rem;

  &.complete {
    background-color: var(--Teal_50);
  }
  .titleContent {
    display: flex;
    gap: 0.75rem;
    align-items: center;

    font-size: 1.5rem;
    font-weight: 500;
    line-height: 32px;
    color: #3e3e3e;
  }

  .actions {
    display: flex;
    gap: 0.5rem;
  }
}
