html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

/* scroll bar changes style */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #d5dae2;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
