@font-face {
  font-family: "dana";
  src: url('./font/DanaFaNum-Regular.woff2') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "danaEn";
  src: url('./font/Dana-Regular.woff2') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "danaFaRegular";
  src: url('./font/DanaFaNum-Regular.woff2') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "danaFaMedium";
  src: url('./font/DanaFaNum-Medium.woff2') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "danaFaDemiBold";
  src: url('./font/DanaFaNum-DemiBold.woff2') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}