@use "./styles/color" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
